{% if rbenv.env == 'system' %}
LoadModule passenger_module /usr/local/rbenv/versions/{{ rbenv.ruby_version }}/lib/ruby/gems/{{ rbenv.ruby_version }}/gems/passenger-{{ passenger_version }}/buildout/apache2/mod_passenger.so
{% endif %}
